
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<br />
<br />
<a href="~/Product/index">Products</a>
<br />
<br />
<a href="~/shopping/index/costumes">Shopping - Costumes</a><br />
<a href="~/shopping/index/fx">Shopping - Special Effects</a><br />
<a href="~/shopping/index/masks">Shopping - Masks</a><br />
<a href="~/shopping/index/props">Shopping - Props</a>
<br />
<br />
<a href="~/shopping/cart">My Cart</a><br />
<a href="~/customer/update">My Profile</a><br />